---
interface Props {
    href: string;
    icon?: string;
    image?: string;
    label: string;
    external?: boolean;
    disabled?: boolean;
}

const {
    href,
    icon,
    image,
    label,
    external = false,
    disabled = false,
} = Astro.props;
---

{
    disabled ? (
        <button
            class="button cursor-not-allowed opacity-60"
            disabled
            title="Coming soon"
        >
            {image ? (
                <img src={image} alt={label} class="w-10 h-10" />
            ) : (
                <i class={icon} />
            )}
            <span>{label}</span>
        </button>
    ) : (
        <a href={href} target={external ? "_blank" : undefined} class="button">
            {image ? (
                <img src={image} alt={label} class="w-10 h-10" />
            ) : (
                <i class={icon} />
            )}
            <span>{label}</span>
        </a>
    )
}
